/* Mobile first (padrão) */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Tablet e acima */

@media (min-width: 768px) {
  .contact {
    max-width: 50%;
  }
}
