/* Mobile first (padrão) */

.partner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.partner__title {
}

.partner__text {
}

.partner__form {
  text-align: left;
}

.partner__field {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  align-items: flex-start;
  justify-content: center;
  margin-top: 1.5rem;
}

.partner__legend {
  text-align: right;
}

.partner__input-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.partner__input-box_radio {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 0.5rem;
  justify-content: left;
}

.partner__label {
}

.partner__input {
  width: 100%;
}

.partner__input_radio {
  width: revert;
}

.partner__inputs-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.partner__toast {
}

.partner__button {
  margin-top: 2.5rem;
  display: flex;
  justify-self: center;
}

/* Tablet e acima */

@media (min-width: 768px) {
}
