/* Mobile first (padrão) */

.subscription__title {
  margin-bottom: 3rem;
}

.subscription__item {
  text-align: left;
  margin: 1.5rem 0;
}

.subscription__item,
.subscription__text {
  max-width: 90%;
  margin-inline: auto;
}

/* Tablet e acima */

@media (min-width: 768px) {
  .subscription__item {
    max-width: 80%;
  }
}
