/* Mobile first (padrão) */

.subscription {
}

.subscription__title {
}

.subscription__content {
}

.subscription__text {
}

.subscription__form {
  margin-top: 3rem;
}

.subscription__form-title {
}

.subscription__field {
  padding: 0.75rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.subscription__field:nth-of-type(5n) {
  margin-bottom: 0;
}

.subscription__field_payment {
  margin-top: 1.75rem;
}

.subscription__legend {
  text-align: left;
}

.subscription__input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.subscription__input-box:last-of-type {
  margin-bottom: 0;
}

.subscription__input-box_inline {
  flex-direction: row-reverse;
  column-gap: 0.5em;
  align-items: center;
  justify-content: left;
}

.subscription__label {
  text-align: left;
}

.subscription__input {
}

.subscription__radios-box {
  margin-bottom: 1.5rem;
}

.subscription__radios-box:last-of-type {
  margin-bottom: 0;
}

.subscription__radios-name {
  text-align: left;
}

.subscription__checkboxes-box {
  margin-bottom: 1.5rem;
}

.subscription__checkboxes-name {
  text-align: left;
}

.subscription__pix-details {
  text-align: left;
}

.subscription__pix-term {
}

.subscription__pix-description {
  margin-left: 0;
}

.subscription__pix-qr-label {
  text-align: left;
}

.subscription__pix-qr-img {
  width: 150px;
  height: 150px;
}

.subscription__form-note {
}

.subscription__button {
  margin-bottom: 21.44px; /* margin-top do title */
}

/* Tablet e acima */

@media (min-width: 768px) {
  .subscription__text,
  .subscription__form {
    max-width: 80%;
    margin-inline: auto;
  }

  .subscription__pix-details {
    display: flex;
    column-gap: 0.5rem;
    justify-content: center;
  }

  .subscription__pix-qr-label {
    text-align: center;
  }
}
