# Logs
logs
*.log
npm-debug.log*

# Dependências do Node.js
node_modules/
*.local

# Build e distribuição
dist/
build/
coverage/

# Pastas e arquivos temporários
.tmp/
temp/

# Lockfiles
package-lock.json

# Cache
.cache/
.parcel-cache/

# Arquivos de sistema criados automaticamente (macOS e Windows)
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# Ambiente
.env
.env.local
.env.development
.env.production
.env.test