/* Mobile first (padrão) */

.link-to-button {
  text-decoration: none;
  padding: 0.5em;
  border: 1px solid #1c381e;
  color: #1c381e;
  background-color: #f0f0f0;
  margin-top: 1rem;
}

.link-to-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.link-to-button:active {
  opacity: 0.8;
}

/* Tablet e acima */

@media (min-width: 768px) {
}
