/* Mobile first (padrão) */

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Josefin Variable', 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #b8f0a8dc;
  color: #503202;

  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 1rem;
}

h1,
h2,
h3,
h4 {
  font-family: 'Love Ya Like A Sister', 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
}

/* Tablet e acima */

@media (min-width: 768px) {
}
