/* Mobile first (padrão) */

.link {
  text-decoration: none;
  padding: 0.25em;
  border: 1px solid rgb(28, 56, 30);
  color: rgb(28, 56, 30);
  background-color: rgba(28, 56, 30, 0.247);
  margin-top: 1rem;
}

.link:hover {
  cursor: pointer;
  opacity: 0.6;
}

.link:active {
  opacity: 0.8;
}

/* Tablet e acima */

@media (min-width: 768px) {
}
