/* Mobile first (padrão) */

.content__home {
}

.home {
  background-color: rgb(67, 76, 170);
  border: 1px solid darkgreen;
}

.home__title {
  margin-top: 0;
}

/* Tablet e acima */

@media (min-width: 768px) {
}
