/* Mobile first (padrão) */

.cart {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}

.cart__strong {
  font-size: 1.25rem;
}

.cart__null-box {
}

.cart__null-toast {
  padding: 0.5em 1em 1.5em;
  width: 100%;
  margin: 3rem auto 0;
  max-width: max-content;
}

.cart__null-title {
  font-size: 1.25rem;
}

.cart__null-text {
  margin: 2rem auto 3rem;
}

.cart__null-link {
}

.cart__pack-title {
  margin-top: 3.5rem;
  margin-bottom: 3rem;
}

.cart__pack-aside {
  width: 80%;
  margin-inline: auto;
}

.cart__pack-card {
  text-align: center;
  padding-bottom: 1em;
}

.cart__pack-card-title {
  max-width: 90%;
  margin-inline: auto;
}

.cart__pack-card-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem;
}

.cart__pack-card-product {
  text-align: left;
}

.cart__pack-card-toast {
  padding: 0.5em;
  margin: 1.5em auto;
  margin-top: 1em;
  width: 80%;
}

.cart__pack-card-link-box {
  margin-bottom: 1.5rem;
  margin-top: 2.25rem;
}

.cart__pack-card-link {
  background-color: rgb(240, 240, 240);
  padding-top: 0.75em;
  border: none;
  color: #503202;
}

.cart__pack-card-line {
  width: 90%;
  border: 0.5px solid rgb(214, 210, 210);
  margin: 0 auto;
}

.cart__pack-card-term {
  text-align: left;
}

.cart__pack-card-description {
  margin-left: 0;
}

.cart__pack-card-button {
  padding: 0.5em;
  margin: 1em 0;
  width: 25px;
  height: 25px;
  background-image: url('../../../assets//icons/trash.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.cart__pack-card-msg {
  background-color: #503202;
  padding: 0.25em;
  color: antiquewhite;
  width: fit-content;
  max-width: 90%;
  margin: 0.5em auto 0;
  font-weight: 350;
}

.cart__pack-form {
  text-align: left;
  margin-top: 3rem;
}

.pack-form__field {
  margin-bottom: 1rem;
}

.pack-form__field_radio {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
  padding: 0.75rem;
}

.pack-form__input-box {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
}

.pack-form__input-box_radio {
  display: block;
  padding: 0;
}

.pack-form__input {
  padding: 0;
}

.pack-form__input_radio {
  margin-left: 0.5em;
}

.pack-form__input_radio:hover {
  cursor: pointer;
}

.pack-form__input_date,
.pack-form__input_schedule {
  width: min-content;
}

.pack-form__toast {
  margin-bottom: 0.75rem;
}

.pack-form__button {
  width: 100%;
}

/* Tablet e acima */

@media (min-width: 768px) {
  .cart__null-box {
  }

  .cart__null-toast {
    padding: 1em 2em 2.5em;
  }

  .cart__pack-title {
    margin-bottom: 3rem;
  }

  .cart__pack-box {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
  }

  .cart__pack-aside {
    width: 30%;
    margin-top: 0.5rem;
  }

  .cart__pack-card {
    border: 1px solid rgb(240, 240, 240);
  }

  .cart__pack-form {
    width: 65%;
    margin-top: 0;
  }

  .pack-form__field_radio {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .pack-form__radio-box:last-of-type {
    margin-left: 0.5rem;
  }

  .pack-form__field_next {
    display: flex;
  }
}
