/* Mobile first (padrão) */

.content__order {
}

.order {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-bottom: 21.44px; /* margin-top do title */
}

.order__title {
}

.order__empty-title {
  width: 95%;
  margin-inline: auto;
  margin-bottom: 2.5rem;
}

.order__box {
  width: 90%;
  margin-inline: auto;
}

.order__text {
}

.order__subtitle {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.order__details {
  text-align: left;
  width: 90%;
  margin: 0 auto;
}

.order__detail-box {
  margin-bottom: 1rem;
}

.order__detail-box:last-of-type {
  margin-bottom: 0;
}

.order__term {
  font-weight: 650;
}

.order__description {
  margin-left: 0;
}

.order__address {
  font-style: normal;
}

.order__empty-toast {
  width: 100%;
  padding: 2em 1em 2.5em;
  margin: 0 auto;
}

.order__empty-prompt {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

.order__empty-prompt:first-of-type {
  margin-top: 0;
}

.order__empty-prompt > :last-of-type {
  margin-bottom: 0;
}

.order__empty-link {
  width: 50%;
  margin-inline: auto;
}

/* Tablet e acima */

@media (min-width: 768px) {
  .order__empty-title {
    width: 80%;
  }

  .order__detail-box {
    margin-bottom: 1.5rem;
  }

  .order__detail-box_inline {
    display: flex;
    column-gap: 0.5rem;
  }

  .order__empty-toast {
    width: 90%;
  }
}
