/* Mobile first (padrão) */

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.empty__text {
  width: 85%;
}
.empty__toast {
  justify-items: center;
  width: 100%;
  margin: 3rem auto 0;
}

.empty__links {
  width: 100%;
  margin-top: 2rem;
}

.empty__link {
  display: block;
  margin-inline: auto;
  max-width: 75%;
}

/* Tablet e acima */

@media (min-width: 768px) {
  .empty__text {
    width: 45%;
  }

  .empty__text_toast {
    width: 90%;
  }

  .empty__toast {
    max-width: 50%;
  }

  .empty__list {
    display: flex;
    column-gap: 2rem;
    justify-content: center;
  }

  .empty__link {
    margin-inline: 0;
    max-width: fit-content;
  }
}
