/* Mobile first (padrão) */

.page__footer {
  width: 95%;
  margin: 0 auto;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.5rem;
  row-gap: 2rem;

  background-color: indianred;
  border: 1px solid darkgreen;

  text-align: center;
}

.footer__content-box {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.footer__navs-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.footer__links {
}

.footer__list {
}

.footer__item {
}

.footer__link {
}

.footer__link_active {
  font-weight: 700;
}

.footer__social {
}

.footer__social-list {
  display: flex;
  column-gap: 0.25rem;
}

.footer__social-item {
}

.footer__social-link {
}

.footer__social-icon {
}

.footer__infos-box {
  font-style: normal;
}

.footer__phone,
.footer__email,
.footer__address,
.footer__operation {
  margin: 0;
}

.footer__logo-link {
}

.footer__logo {
  margin-bottom: 0.75rem;
}

.footer__logo .logo__name {
  font-size: 1rem;
}

.footer__logo .logo__span {
  font-size: 0.75rem;
}

.footer__logo .logo__img {
  width: calc(52px / 1.5);
  height: calc(60px / 1.5);
}

.footer__link-up {
  text-decoration: none;
  color: inherit;
  font-size: 0.75rem;
}

.footer__link-up:hover {
  opacity: 0.6;
}

.footer__link-up:active {
  opacity: 0.8;
}

.footer__copyright {
  align-self: center;
  text-align: center;
  margin: 0;

  font-family: 'Love Ya Like A Sister';
}

/* Tablet e acima */

@media (min-width: 768px) {
  .footer__content-box {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .footer__navs-box {
    text-align: left;
    align-items: flex-start;
  }

  .footer__infos-box {
    text-align: right;
  }
}
