/* Mobile first (padrão) */

.content__profile {
}

.profile {
}

.profile__box {
  width: 80%;
  margin: 0 auto;
}

.profile__title {
}

.profile__subtitle {
  font-size: 1.25rem;
  margin-bottom: 2em;
}

.profile__text {
}

.profile__nav {
  margin-top: 3em;
  margin-bottom: 3.5em;
}

.profile__list {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

.profile__item {
}

.profile__link {
  padding: 0.75em;
  border: none;
}

.profile__link_active {
  opacity: 0.4;
}

/* Tablet e acima */

@media (min-width: 768px) {
  .profile__list {
    flex-direction: row;
    justify-content: center;
    column-gap: 1em;
  }
}
