/* Mobile first (padrão) */

.auth-form-modal {
  display: flex;
  justify-content: center;
  background-color: rgba(184, 240, 168, 0.863);
  padding: 1em;
}

.auth-form-modal__background {
  width: 95%;
  min-height: 100dvh;
  background-color: rgba(42, 43, 42, 0.102);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form-modal__box {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  width: 80%;
  max-width: 613px;
  padding-top: 1em;
  padding-bottom: 1em;
}

.auth-form-modal__button {
  align-self: flex-end;
  margin: 0;
  border: none;
  background-color: rgba(28, 56, 30, 0.247);
}

.auth-form-modal__form-box {
  background-color: rgba(28, 56, 30, 0.247);
}

/* Tablet e acima */

@media (min-width: 768px) {
}
