/* Mobile first (padrão) */

.content__menu {
}

.menu {
}

.menu__content {
}

.menu__title {
  margin-top: 0;
}

.menu__subtitle {
}

.menu__description {
}

.menu__links {
}

.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.menu__item {
  background-color: rgb(155, 193, 90);
  padding: 0.5em;
  width: max-content;
}

.menu__link {
}

.menu__link_active {
  font-weight: 700;
}

.menu__aside {
  background-color: rgb(137 100 157);
  padding: 1.5rem;
  margin-top: 3rem;

  height: max-content;
}

.menu__aside-title {
  margin-top: 0;
}

.menu__aside-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  column-gap: 0.5rem;
  grid-template-areas:
    'soup soup soup'
    'cream cream cream'
    'pate pate pate'
    'img img img';
}

.menu__soup {
  grid-area: soup;
}

.menu__soup-title {
}

.menu__soup-description {
}

.menu__cream {
  grid-area: cream;
}

.menu__cream-title {
}

.menu__cream-description {
}

.menu__pate {
  grid-area: pate;
}

.menu__pate-title {
}

.menu__pate-description {
}

.menu__figure {
  grid-area: img;
  margin-inline: 0;
  height: min-content;
  margin-bottom: 0;
}

.menu__figure-img {
  width: 90%;
  height: 90%;
  object-fit: contain;
  max-width: 400px;
}

.menu__figcaption {
  font-style: italic;
  word-wrap: break-word;
}

.menu__figcaption-link {
  text-decoration: none;
  color: inherit;
}

.menu__figcaption-link:hover {
  opacity: 0.6;
}

.menu__figcaption-link:active {
  opacity: 0.8;
}

/* Tablet e acima */

@media (min-width: 768px) {
  .menu__aside {
  }

  .menu__aside-content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      'soup img img'
      'cream img img'
      'pate img img';
    column-gap: 1em;
    align-items: center;
    justify-items: center;
    justify-self: center;
  }

  .menu__soup,
  .menu__cream,
  .menu__pate {
    width: 90%;
  }

  .menu__figure {
    justify-self: self-end;
  }
}

@media (min-width: 1104px) {
  .menu__aside-content {
    width: 85%;
  }
}
