/* Mobile first (padrão) */

.page__content {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.content {
  flex: 1;
  text-align: center;
  background-color: #8bc130;
  border: 1px solid #006400;
  display: flex; /* para o 'flex: 1', no .content__not-found */
  justify-content: center;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
}

.content__toast-modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100dvh;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
}

.content__toast-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); /* para centralizar o elemento horizontalmente e verticalmente, independente da largura da tela */

  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  width: 100%;
}

.content__toast-button {
  margin: 0;
  padding: 0.5em;
  padding-top: 0.75em;
  color: #006400;
  width: 25%;
}

.content__toast_global {
  margin: 0;
  border: 1px solid #ffffff;
}

.content__toast_sync-cart {
  padding: 0.5em;
  padding-inline: 0.75em;
  width: 100%;
  margin: 0 auto 2rem;
}

/* Tablet e acima */

@media (min-width: 768px) {
}
