/* Mobile first (padrão) */

.page__content {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.content {
  flex: 1;
  text-align: center;
  background-color: rgb(139, 193, 48);
  border: 1px solid darkgreen;
  display: flex; /* para o 'flex: 1', no .content__not-found */
  justify-content: center;
}

/* Tablet e acima */

@media (min-width: 768px) {
}
