/* Mobile first (padrão) */

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form__title {
  margin-top: 2rem;
}

.auth-form__field {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  padding: 1rem;
  border: none;
  width: 100%;
}

.auth-form__label {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.auth-form__line {
  height: 1px;
  background-color: #808080;
  width: 50%;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}

.auth-form__loader {
  padding-top: 2em;
  padding-bottom: 1em;
}

.auth-form__toast {
  background-color: rgba(28, 56, 30, 0.074);
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* Tablet e acima */

@media (min-width: 768px) {
}
