/* Mobile first (padrão) */

.page__header {
  width: 95%;
  margin: 0 auto;
  position: sticky;
  top: 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0.5rem;

  background-color: orange;
  border: 1px solid darkgreen;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

/* Tablet e acima */

@media (min-width: 768px) {
}
