/* Mobile first (padrão) */

.profile__msgs {
  margin-bottom: 21.44px; /* margin-top do profile__msgs-title */
}

.profile__msgs-title {
}

.profile__msgs-list {
  list-style: decimal;
}

.profile__msgs-details {
  border: 1px solid lightgrey;
  width: 90%;
  margin-inline: auto;
  padding: 1rem;
  margin-top: 2.5rem;
}

.profile__msgs-item-box {
  margin-bottom: 1rem;
}

.profile__msgs-item-box:last-of-type {
  margin-bottom: 0;
}

.profile__msgs-term {
  font-weight: 700;
}

.profile__msgs-description {
  margin-left: 0;
}

.profile__no-msgs-toast {
  width: 100%;
  margin-bottom: 0;
  padding: 1em 3em 2em;
  max-width: max-content;
}

.profile__no-msgs-text:last-of-type {
  margin-bottom: 2rem;
}

/* Tablet e acima */

@media (min-width: 768px) {
  .profile__msgs-details {
    width: 80%;
  }

  .profile__msgs-item-box {
    display: flex;
    column-gap: 0.5rem;
  }

  .profile__msgs-item-box_center {
    justify-content: center;
  }

  .profile__msgs-description {
    text-align: left;
  }
}
