/* Mobile first (padrão) */

.recipes-toast {
  padding: 1em;
  width: 80%;
}

.recipes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.recipes__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding-left: 0;
  align-items: center;
  justify-content: center;
}

.recipes__item {
  background-color: #6b8e23;
  padding: 1em;
  border: 1px solid #ffffff;
  width: 100%;
  height: 250px;
}

.recipes__item_searched {
  margin-top: 2rem;
}

.recipes__subtitle {
  margin-top: 2rem;
}

.recipes__form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.recipes__label {
  text-align: left;
  margin-bottom: 1rem;
}

.recipes__toast {
  margin-bottom: 1rem;

  padding: 1em;
  width: 80%;
}

.recipes__button {
  display: flex;
  align-self: center;
  text-align: center;
  margin-bottom: 0;
}

/* Tablet e acima */

@media (min-width: 768px) {
  .recipes-toast {
    padding: 4em;
    width: 50%;
    display: flex;
    align-items: center;
  }

  .recipes__list {
    flex-direction: row;
    column-gap: 2rem;
  }

  .recipes__list_searched {
    flex-wrap: wrap; /* fallback */
    flex-wrap: balance; /* navegadores compatíveis */
  }

  .recipes__item {
    flex: 1 1 310px;
  }

  .recipes__form {
    width: 80%;
    margin-inline: auto;
  }

  .recipes__toast {
    display: flex;
    align-items: center;
  }
}
