/* Mobile first (padrão) */

.recipes-loader {
}

.recipes-toast {
  padding: 1em;
  width: 80%;
}

.recipes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipes__title {
}

.recipes__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding-left: 0;
}

.recipes__item {
  background-color: olivedrab;
  padding: 1em;
  border: 1px solid white;
}

.recipes__subtitle {
  margin-top: 2rem;
}

.recipes__text {
}

.recipes__form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.recipes__label {
  text-align: left;
  margin-bottom: 1rem;
}

.recipes__input {
}

.recipes__toast {
  margin-bottom: 1rem;

  padding: 1em;
  width: 80%;
}

.recipes__button {
  display: flex;
  align-self: center;
  text-align: center;
}

/* Tablet e acima */

@media (min-width: 768px) {
  .recipes-toast {
    padding: 4em;
    width: 50%;
    display: flex;
    align-items: center;
  }

  .recipes__list {
    flex-direction: row;
    column-gap: 2rem;
  }

  .recipes__toast {
    display: flex;
    align-items: center;
  }
}
