/* Mobile first (padrão) */

.menu__section {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.menu__section-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  gap: 0.625rem;

  /* Cria colunas automáticas com mínimo de 250px e máximo de 1fr, preenchendo a linha com quantas colunas couberem, ajustando os elementos automaticamente */
  grid-template-columns: repeat(auto-fit, 180px);

  width: 100%;
  justify-content: center;
}

.menu__section-item {
  background-color: rgb(155, 193, 90);
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  border: 1px solid rgb(240, 240, 240);
}

.menu__section-title {
  margin: 0.5rem;
}

.menu__section-type {
  margin: 0.5rem;
}

.menu__section-toast {
  margin: 0.5rem auto;
}

.menu__section-toast_item {
  padding: 0;
}

.menu__section-button {
  margin: 1rem;
  font-size: 0.625rem;
  border: 1px solid rgb(28, 56, 30);
  color: rgb(28, 56, 30);
  background-color: rgba(28, 56, 30, 0.095);
}

.menu__section-button_added {
  background-color: #503202b8;
  color: antiquewhite;
  border-color: antiquewhite;
}

.menu__section-button_pack {
  width: 80%;
  margin-top: 4rem;
  background-color: #503202b8;
  color: rgb(240, 240, 240);
  border-color: rgb(240, 240, 240);
  font-size: 1rem;
}

/* Tablet */

@media (min-width: 768px) {
  .menu__section-toast {
    width: 70%;
  }
}
