/* Mobile first (padrão) */

.subscription-form__status-box {
}

.subscription-form__on-off-box {
  display: flex;
  column-gap: 1em;
}

.subscription-form__item-box {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.subscription-form__item-box_days {
  align-items: flex-start;
}

.subscription-form__begin-end-box {
}

.subscription-form__days-on-box {
}

.subscription-form__days-box {
}

.subscription-form__method-box {
}

.subscription-form__delivery-drive-box {
  display: flex;
  column-gap: 1em;
}

.subscription-form__next-box {
  display: flex;
  flex-direction: column;
}

.subscription-form__note {
  width: 80%;
  margin: 0 auto;
  margin-top: 1.5em;
}

.subscription-form__button-box {
  display: flex;
  flex-direction: column;
}

.subscription-form__button:last-of-type {
  margin-top: 1em;
}

/* Tablet e acima */

@media (min-width: 768px) {
  .subscription-form__begin-end-box {
    display: flex;
    column-gap: 3em;
  }

  .subscription-form__days-box {
    display: flex;
    column-gap: 1.5em;
  }

  .subscription-form__item-box_days {
    align-items: center;
  }

  .subscription-form__next-box {
    flex-direction: row;
    column-gap: 1em;
  }

  .subscription-form__button-box {
    flex-direction: row;
    column-gap: 1em;
    justify-content: center;
    margin-bottom: 2em;
  }

  .subscription-form__button:last-of-type {
    margin-top: 3em;
  }
}
