/* Mobile first (padrão) */

.content__not-found {
  background-color: rgb(159, 190, 104);
  flex: 1; /* para ajuste do 'background-color', preenchimento total */
}

.not-found {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  row-gap: 1rem;
  padding: 2rem;
  justify-content: center;
}

.not-found__title,
.not-found__content {
  margin: 0;
}

/* Tablet e acima */

@media (min-width: 768px) {
}
