/* Mobile first (padrão) */

.toast {
  padding: 2em;
  text-align: center;
  width: 70%;
  margin: 3rem auto;
  color: #006400;
  background-color: #9fbe68;
}

/* Tablet e acima */

@media (min-width: 768px) {
  .toast {
    width: 50%;
  }
}
