/* Mobile first (padrão) */

.toast {
  padding: 2em;
  text-align: center;
  width: 70%;
  margin: 3rem auto;
  color: darkgreen;
  background-color: rgb(159, 190, 104);
}

/* Tablet e acima */

@media (min-width: 768px) {
  .toast {
    width: 50%;
  }
}
