/* Mobile first (padrão) */

.content__checkout {
}

.checkout {
  padding-bottom: 21.44px; /* margin-top do title */
  display: flex;
  justify-content: center;
}

.checkout__empty-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.checkout__empty-title {
}

.checkout__empty-text {
  width: 85%;
}

.checkout__empty-links-toast {
  justify-items: center;
  width: 100%;
  margin: 3rem auto 0;
}

.checkout__empty-links {
  width: 100%;
  margin-top: 2rem;
}

.checkout__empty-list {
}

.checkout__empty-list-item {
}

.checkout__empty-link {
  display: block;
  margin-inline: auto;
  max-width: 75%;
}

.checkout__container {
  display: flex;
  flex-direction: column;
}

.checkout__box {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.checkout__aside {
}

.checkout__details {
  width: 85%;
  margin-inline: auto;
}

.checkout__detail {
  display: flex;
  column-gap: 0.75rem;
  align-items: center;
  margin-bottom: 1rem;
}

.checkout__detail:last-of-type {
  margin-bottom: 0;
}

.checkout__detail_list {
  column-gap: 0;
}

.checkout__detail_address,
.checkout__detail_obs {
  flex-direction: column;
  align-items: start;
}

.checkout__item-term {
  font-weight: 650;
}

.checkout__item-description {
  margin-left: 0;
  color: #1d5121;
  text-align: left;
}

.checkout__item-list {
  list-style: decimal;
  padding-left: 2.5rem;
}

.checkout__item-item {
  width: fit-content;
  text-align: left;
}

.order-form__field {
  margin-top: 1.5rem;
  width: fit-content;
  margin-inline: auto;
  padding: 1.5rem;
}

.order-form__field_radio {
  padding: 2rem;
  margin-top: 3rem;
}

.order-form__legend {
  font-weight: 650;
}

.order-form__input-box {
  margin-bottom: 0.5rem;
  margin-inline: auto;
}

.order-form__input-box:last-of-type {
  margin-bottom: 0;
}

.order-form__input-box_radio {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 0.5rem;
  justify-content: left;
}

.order-form__input-box_pay {
  display: flex;
  flex-direction: column;
}

.order-form__label {
  font-weight: 600;
  text-wrap-mode: nowrap;
  margin-right: 0.25rem;
}

.order-form__input {
  padding: 0.25em;
}

.order-form__input_radio:hover {
  cursor: pointer;
}

.order-form__pix-term,
.order-form__pix-label {
  font-weight: 600;
  text-wrap-mode: nowrap;
}

.order-form__pix-description {
  margin-left: 0;
}

.order-form__pix-qr-img {
  width: 100px;
  height: 100px;
}

.order-form__notice {
  width: 80%;
  max-width: 432px;
  margin-inline: auto;
  margin-bottom: 0;
}

.order-form__loader {
  padding: 0;
  margin-top: 4rem;
}

.order-form__toast {
  padding: 1em;
  margin: 4rem auto 0;
}

.order-form__button {
  margin-bottom: 0;
  margin-top: 2rem;
  border: none;
  width: 100%;
}

.checkout__link {
  display: block;
  margin-top: 3rem;
  background-color: rgba(28, 56, 30, 0.247);
}

.checkout__link:last-of-type {
  margin-top: 1.5rem;
}

/* Tablet e acima */

@media (min-width: 768px) {
  .checkout__empty-text {
    width: 45%;
  }

  .checkout__empty-text_toast {
    width: 90%;
  }

  .checkout__empty-links-toast {
    max-width: 50%;
  }

  .checkout__empty-links {
  }

  .checkout__empty-list {
    display: flex;
    column-gap: 2rem;
    justify-content: center;
  }

  .checkout__empty-list-item {
  }

  .checkout__empty-link {
    margin-inline: 0;
    max-width: fit-content;
  }

  .checkout__box {
  }

  .checkout__aside {
  }

  .checkout__subtitle {
    margin-top: 0;
  }

  .checkout__order-form {
    margin-top: 2rem;
  }

  .order-form__field_radio {
    margin-top: 0;
  }

  .order-form__pix-details {
    display: flex;
    justify-content: center;
    column-gap: 0.5rem;
  }

  .order-form__notice {
    width: 100%;
  }

  .order-form__toast {
    width: 70%;
  }

  .order-form__button {
    padding: 0.5em;
    padding-top: 0.75em;
  }
}
