/* Mobile first (padrão) */

.content__checkout {
}

.checkout {
  width: 100%;
}

.checkout__empty-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.checkout__empty-title {
  margin-top: 0;
}

.checkout__empty-text {
  width: 85%;
}

.checkout__empty-links-box {
  justify-items: center;
}

.checkout__empty-links {
  width: 100%;
  margin-top: 2rem;
}

.checkout__empty-link {
  display: block;
  margin-inline: auto;
  max-width: 75%;
}

.checkout__title {
}

.checkout__box {
  display: flex;
  flex-direction: column-reverse;
}

.checkout__order-form {
}

.order-form__field {
}

.order-form__legend {
}

.order-form__input-box {
}

.order-form__label {
}

.order-form__input {
}

.order-form__pix-box {
}

.order-form__pix-code {
}

.order-form__pix-qr {
}

.order-form__toast {
}

.order-form__button {
  margin-bottom: 1em;
}

.order-form__link {
  display: block;
}

.checkout__aside {
}

.checkout__subtitle {
}

.checkout__item-box {
}

.checkout__item-title {
}

.checkout__item-list {
}

.checkout__item-item {
}

.checkout__item-description {
}

/* Tablet e acima */

@media (min-width: 768px) {
  .checkout__empty-text {
    width: 45%;
  }

  .checkout__empty-links {
    display: flex;
    column-gap: 2rem;
    justify-content: center;
    margin-top: 0;
  }

  .checkout__empty-link {
    padding: 0.5em;
    margin-inline: 0;
    width: 20%;
  }

  .checkout__box {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .checkout__subtitle {
    margin-top: 0;
  }
}
