/* Mobile first (padrão) */

.profile-form {
  width: 80%;
}

.profile-form__field {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  padding: 1.5em;
}

.profile-form__title {
  align-self: flex-start;
}

.profile-form__label {
  align-self: flex-start;
}

.profile-form__input,
.profile-form__textarea {
  margin-bottom: 1em;
}

.profile-form__loader {
  padding-bottom: 0;
}

.profile-form__toast {
  margin-bottom: 0.75em;
}

.profile-form__button {
  align-self: center;
  width: 30%;
  margin-top: 3em;
  margin-bottom: 0;
}

/* Tablet e acima */

@media (min-width: 768px) {
}
