/* Mobile first (padrão) */

.tracker__content {
}

.tracker {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tracker__title {
}

.tracker__form {
}

.tracker__field {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.tracker__legend {
  margin-bottom: 2rem;
}

.tracker__input-box {
  display: flex;
  flex-direction: column;
}

.tracker__label {
}

.tracker__input {
  width: 90%;
  align-self: center;
}

.tracker__toast {
  margin: 2rem auto 0;
  width: 90%;
  padding: 1em;
}

.tracker__button {
  width: fit-content;
  align-self: center;
}

.tracker__infos {
  margin-top: 1rem;
}

.tracker__subtitle {
}

.tracker__details {
  text-align: left;
  width: 90%;
  margin-inline: auto;
}

.tracker__detail-box {
  margin-bottom: 0.5rem;
}

.tracker__detail-box:last-of-type {
  margin-bottom: 0;
}

.tracker__detail-box_inline {
  display: flex;
  column-gap: 0.5rem;
}

.tracker__detail {
  font-weight: 650;
}

.tracker__description {
  margin-left: 0;
}

.tracker__items-list {
  list-style: decimal-leading-zero;
  padding-left: 1.75rem;
}

.tracker__item-list {
}

/* Tablet e acima */

@media (min-width: 768px) {
  .tracker__input-box {
    flex-direction: row;
    column-gap: 0.5rem;
    align-self: center;
    align-items: center;
    width: 90%;
  }

  .tracker__label {
    width: 30%;
  }

  .tracker__infos {
    margin-top: 2rem;
  }

  .tracker__details {
    width: 80%;
  }

  .tracker__detail-box {
    display: flex;
    column-gap: 0.5rem;
  }
}
