/* Mobile first (padrão) */

.profile__data-user {
  margin: 0 auto;
}

.data-user {
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.data-user__label {
  align-self: flex-start;
}

.data-user__input,
.data-user__textarea {
  padding-inline: 0.5em;
  padding-top: 0.25em;
  margin-bottom: 1em;
}

.data-user__button {
  align-self: center;
  width: 30%;
  margin-top: 3em;
  margin-bottom: 0;
}

/* Tablet e acima */

@media (min-width: 768px) {
}
